AddHandler cgi-script .cgi

RewriteEngine on
 
# foo.atom -> foo.cgi
RewriteRule ^(.+)\.atom$  $1.cgi
 
# Give Apache CGI access to HTTP auth, http://www.besthostratings.com/articles/http-auth-php-cgi.html
RewriteRule .*            -       [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
